body {
  font-family: 'Raleway',
  sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  
  
}
.wood_right {
  height: 660px;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)), url('./img/wood-left.jpg') no-repeat;
  background-size: cover;
}
.wood_left {
  background: linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)), url('./img/wood-right.jpg') no-repeat;
  background-size: cover;
}
.about {
  margin-top: 110px;
  margin-bottom: 80px;
  margin-left: 187px;
}
.img_about {
  position: absolute;
  left: 271px;
  top: 819px;
}
.link-text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
}
.ws {
  position: absolute;
  width: 319px;
  height: 111px;
  left: 591px;
  top: 218px;
  
}
.wsLine {
  position: absolute;
  top: 20px;
  left: 52px;
}